body {
	background-color: #424949;
	color: #C0C0C0;
	}
h1 {
	color: #C0C0C0;
	background-color: #000000;
}
h3 {
	background-color: #000000;
	font-family:adyoucardtwo;
	color: #C0C0C0;
	margin-left: 30vh;
	margin-right: 30vh;
	font-size: 18vh;
	padding: 40vh;
	border: solid 4vh;
	border-color: #b21f1f;
}
p {
	font-family:adyoucardtwo;
	color: #C0C0C0;
	font-size: 20vh;
}
@font-face {
	font-family:adyoucardtwo;
	src: url("Times New Roman.ttf");
}
@font-face {
	font-family:adyoucard;
	src: url("sffourche.ttf");
}
@font-face{
	font-family: adyou;
}
#main2 {
	font-family:adyoucard;
	font-size: 40vh;
	color: #C0C0C0;
}
#main3 {
	font-family:adyoucardtwo;
	color: #C0C0C0;
}
#main4 {
	font-family:adyoucard;
	color: #C0C0C0;
}
#main5 {
	font-family:adyoucardtwo;
	color: #C0C0C0;
	font-size: 20vh;
	line-height: 1.5;
}
#emailalign {
	font-family:adyoucardtwo;
	color: #C0C0C0;
	text-indent: 534vh;
}
#subalign {
	font-family:adyoucard;
	color: #C0C0C0;
	text-indent: 584vh;
}
#leslie {
	font-family:adyoucardtwo;
	color: #C0C0C0;
	text-indent: 600vh;
}
.container {
    height: 200vh;
    width: 100%;
    background-color: black;
    position: relative; 
    color: #C0C0C0;
    border-bottom: solid 4vh;
    border-top: solid 4vh;
    border-bottom-color: #b21f1f;
    border-top-color: #b21f1f;
}
.container p {
	font-size: 100vh;
	font-family: adyoucard;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
.container2 {
	height: 160vh;
    background-color: black;
    position: relative; 
    color: #C0C0C0;
    font-family: adyoucardtwo;
    border-bottom: solid 4vh;
    border-top: solid 4vh;
    border-bottom-color: #b21f1f;
    border-top-color: #b21f1f;
}
.container2 p {
	font-size: 20vh;
	line-height: 1.5;
	font-family: adyoucardtwo;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
.container2 a {
	font-size: 20vh;
	font-family: adyoucardtwo;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 62.5%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
.container3 {
	height: 200vh;
    background-color: black;
    padding-bottom: 20vh;
    padding-top: 20vh;
    position: relative; 
    color: #C0C0C0;
    font-family: adyoucardtwo;
    border-bottom: solid 4vh;
    border-top: solid 4vh;
    border-bottom-color: #b21f1f;
    border-top-color: #b21f1f;
}
.container3 p {
	font-size: 20vh;
	line-height: 2;
	font-family: adyoucardtwo;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%); 
}
.bottom {
	position: fixed;
	bottom: 0;
	font-size: 10vh;
	text-align: center;
	width: 100%;
	font-family:adyoucardtwo;
	color: #C0C0C0;
}
.containersatact {
	height: 90vh;
    background-color: black;
    padding: 10vh;
    position: relative; 
    color: #C0C0C0;
    font-family: adyoucardtwo;
    border-bottom: solid 4vh;
    border-top: solid 4vh;
    border-bottom-color: #b21f1f;
    border-top-color: #b21f1f;
}
.containercolvis {
	height: 160vh;
    background-color: black;
    padding: 10vh;
    position: relative; 
    color: #C0C0C0;
    font-family: adyoucardtwo;
    border-bottom: solid 4vh;
    border-top: solid 4vh;
    border-bottom-color: #b21f1f;
    border-top-color: #b21f1f;
}
.containercolcho {
	height: 210vh;
    background-color: black;
    padding: 10vh;
    position: relative; 
    color: #C0C0C0;
    font-family: adyoucardtwo;
    border-bottom: solid 4vh;
    border-top: solid 4vh;
    border-bottom-color: #b21f1f;
    border-top-color: #b21f1f;
}
.containercolapp {
	height: 140vh;
    background-color: black;
    padding: 10vh;
    position: relative; 
    color: #C0C0C0;
    font-family: adyoucardtwo;
    border-bottom: solid 4vh;
    border-top: solid 4vh;
    border-bottom-color: #b21f1f;
    border-top-color: #b21f1f;
}
.containerappess {
	height: 140vh;
    background-color: black;
    padding: 10vh;
    position: relative; 
    color: #C0C0C0;
    font-family: adyoucardtwo;
    border-bottom: solid 4vh;
    border-top: solid 4vh;
    border-bottom-color: #b21f1f;
    border-top-color: #b21f1f;
}
.containerserv {
    margin: 0;
    padding: 10vh;
    border-bottom: solid 4vh;
    border-top: solid 4vh;
    border-bottom-color: #b21f1f;
    border-top-color: #b21f1f;
}